---
layout: page
title: <i class="fas fa-globe-americas"></i> Missões na África
---

<div class="card">

<p>
  Esse é o missionário Rev. Robson.
</p>

<img src="{{ site.baseurl }}/assets/images/robson.png"
     alt="missionário Robson"
     class="rounded mb-3" style="width: 100%" />

<p>
Veja o vídeo do Robson falando sobre o seu trabalho na África:
</p>

<iframe
  width="100%"
  height="440"
  class="mb-4"
  src="https://www.youtube.com/embed/PHm46tgPlSk"
  frameborder="0"
  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen></iframe>

<p>
Crianças na escola dominical:
</p>

<img src="{{ site.baseurl }}/assets/images/criancas-escola-dominical.jpeg"
     alt="crianças na escola dominical na África"
     class="rounded mb-3" style="width: 100%" />

<p>
O trabalho é realizado através da <a href="https://jocum.org.br/" target="_blank">JOCUMBRASIL</a>, que é uma organização de missões que atua em <strong>180 países</strong> e tem <strong>18000 missionários</strong> trazendo a palavra de Deus para pessoas do mundo inteiro.
</p>

<h5>O missionário Robson tem trabalhado na África do Sul</h5>

<img src="{{ site.baseurl }}/assets/images/africa-do-sul.png"
     alt="Mapa da África do Sul"
     class="rounded my-3" style="width: 100%" />

<p>
Mais fotos:
</p>

<div class="card-columns">
{% for i in (1..4) %}

<div class="card">
<img class="card-img-top"
     src="{{ site.baseurl }}/assets/images/missoes/africa/{{forloop.index}}.jpeg"
     alt="Igreja na África" />
</div>
{% endfor %}
</div>

<div class="card">
<img class="card-img-top rounded mb-4"
     src="{{ site.baseurl }}/assets/images/missoes/africa/5.jpeg"
     alt="Igreja na África" />
</div>


<p>
Outro vídeo do missionário Robson falando sobre as reformas que estão fazendo lá na igreja:
</p>

<iframe
  width="100%"
  height="440"
  class="mb-4"
  src="https://www.youtube.com/embed/0IvH1n1CqXE"
  frameborder="0"
  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen></iframe>

<p>
Mais um vídeo do missionário Robson falando sobre o problema de falta de cadeiras na igreja para as crianças:
</p>

<iframe
  width="100%"
  height="440"
  class="mb-4"
  src="https://www.youtube.com/embed/lRMF43p1jDw"
  frameborder="0"
  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen></iframe>


<h5>
  Relatos de Dificuldades no Campo
</h5>

<p>
1. Mais um dia triste para os cristãos perseguidos.

<br>

Um grupo jihadista invadiu uma igreja no norte de Burkina Faso e executou 24 irmãos e irmãs, incluindo o pastor da igreja, feriram outros 18 e levaram cativos vários outros.

<br>

Tudo isso aconteceu no momento do louvor. É assustador o que está acontecendo!

<br>

Oremos por todas essas pessoas e suas famílias famílias
</p>

<p>
2. Com profundo pesar, informamos o assassinato do pastor Omar, parceiro local de um de nossos ministérios em Burkina Faso, que havia sido sequestrado por jihadistas na cidade de Seeba. Ele foi morto com seu filho e outros 4 rapazes.

<br>

Que o Espirito Santo, o Consolador, possa assistir os familiares de todos os irmãos envolvidos nessa brutal tragédia, juntamente com toda igreja naquela região.

<br>

Que nossos irmãos em Burkina sejam fortalecidos na esperança da vida eterna.

</p>

<hr>

Oremos pelo excelente trabalho do missionário Robson e todos os missionários e missionárias presentes, além de todas as vidas.


</div>

{% include offering.html centavos="25" %}

<div class="row">
  <div class="col-12">
    <h1><i class="fas fa-pray"></i> Faça uma doação diretamente para a JOCUMBRASIL</h1>

    <div class="row">
      <div class="col-12">
        <div class="card">
          <p class="mb-3">
          Se você preferir além da opção acima também é possível fazer uma doação diretamente no site da JOCUMBRASIL.

          Veja mais informações nesse <a href="https://jocum.org.br/fale-conosco/faca-uma-doacao/" target="_blank">link</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% include venha-nos-conhecer.html %}
