---
layout: page
title: <i class="fas fa-globe-americas"></i> Missões em Portugal
---

<div class="card">

<p>
Esses são os missionários Rev. José Roberto e sua esposa Ivone.
</p>

<img src="{{ site.baseurl }}/assets/images/jose-roberto-e-ivone.png"
     alt="missionários Rev. José Roberto e sua esposa Ivone"
     class="rounded mb-3" style="width: 100%" />

<p>
  A cada dia notamos como a formação de liderança é tarefa tão vital e urgente para o campo. Sem isto, humanamente, não temos perspectiva de termos líderes nativos.
</p>

<p>
No entanto, graças aos Senhor, irmãos, desde que começamos os cursos, como de Homilética e de Hermenêutica, tivemos o privilégio de alcançar pessoas na comunidade lusófona de Portugal e de mais 5 países.
</p>

<p>
Alguns são pessoas a preparar-se para ser missionários, outros para o pastorado, outros são pastores, outros missionários no campo e, todos eles sentem o peso da dificuldade de ministrar sem formação, por isto vieram em busca de treinamento. O que é excelente. Que o Senhor faça progredir a obra das mãos de cada um de nós, Seus servos.
</p>

<img src="{{ site.baseurl }}/assets/images/portugal.png"
     alt="mapa de portugal do google maps"
     class="rounded mb-3" style="width: 100%" />

<p>
Nosso projecto delineia 3 linhas de trabalho em termos de cooperação:

<ol>
  <li>Cooperação em Treinamento de liderança,</li>
  <li>Cooperação para o Fortalecimento da Igreja existente,</li>
  <li>Cooperação para a Expansão da Igreja.</li>
</ol>
</p>

<p>
Estes aspectos envolvem: preparar e ministrar cursos, fazer tutela de candidato ao ministério, aconselhamento de liderança, visita e apoio aos grupos espalhados pelo país, aproximação da sociedade nativa e incursões nas Aldeias e Cidades do País, entre outros trabalhos.
</p>

<p>
Relativamente ao número de pessoas, é instável. Quando chegamos aqui tínhamos umas 60 vidas. Depois chegou a 120. Hoje supera este número.
</p>

<p>
Maiores dificuldades:

<ol>
  <li>Necessidade de certas virtudes: sermos resilientes, pacientes, manter a identidade confessional da igreja,</li>
  <li>Escassez de recursos financeiros e de liderança confessional,</li>
  <li>Aproximação, relacionamento com os nativos,</li>
  <li>Clima, isolamento, distanciamento da família, irmãos e amigos.</li>
</ol>
</p>

<p>
Grandes Vitórias:

<ol>
  <li>Conseguirmos ficar no campo diante de tantos revezes,</li>
  <li>Testemunhar e pregar a um número que amplia-se ano a ano,</li>
  <li>Crescimento  de grupos de irmãos pelo país, de 5 para 10 grupos nos últimos 4 anos.</li>
</ol>
</p>

<p>
Casos Especiais:

<ol>
  <li>Jovem católico romano desconhecido que entrou em contacto comigo querendo conhecer a Jesus Cristo. Vive cerca de 200 km de distância de minha morada;</li>
  <li>Em Lisboa ocorreu a mesma coisa, so que este morava perto (20 km). Depois dum contacto via e-mail foi assistir ao culto.</li>
</ol>

Pedimos orações por essas vidas.
</p>

<p>
Deus tem seu povo nesta terra.
</p>

</div>

{% include offering.html centavos="10" %}

{% include venha-nos-conhecer.html %}
