<div class="card text-white bg-color3">
  <div class="card-header">
    <i class="fas fa-calendar-alt"></i> Agenda
  </div>

  <div class="list-group list-group-flush text-gray">

    <ul class="list-group">
      <li class="list-group-item">
        22/09 - Maraona Bíblica
      </li>

      <li class="list-group-item">
        ??/10 - Ação Social
      </li>

      <li class="list-group-item">
        06/10 – Cantina (UPA)
      </li>

      <li class="list-group-item">
        12/10 – Dia das Crianças
      </li>

      <li class="list-group-item">
        27/10 – Maratona Bíblica
      </li>

      <li class="list-group-item">
        10/11 - Confraternização (UPA)
      </li>

      <li class="list-group-item">
        24/11 – Culto de Aniversário UPA/Aymoré
      </li>

      <li class="list-group-item">
        09/12 - Culto das Primícias
      </li>
    </ul>

  </div>

  <div class="list-group list-group-flush">
    <a href="{{ site.baseurl }}/agenda.html"
       class="list-group-item list-group-item-action flex-column align-items-start">

      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-2">Ver mais <i class="fas fa-plus-square"></i></h5>
      </div>
    </a>
  </div>
</div>
