  <div class="bg-white">
    {% for post in site.posts limit:8 %}
        <div class="card" style="border: none;">
          <div class="card-body">

            <div class="row">

              {% if post.thumbnail %}

              <div class="col-4">
                <img class="card-img-top" src="{{ site.baseurl }}/assets/images/posts/thumbnails/{{ post.thumbnail }}" alt="{{ post.title }}">
              </div>

              <div class="col-8">

              {% else %}

              <div class="col">

              {% endif %}

                <h5 class="card-title">
                  <a href="{{ post.url | prepend: site.baseurl }}">
                    {{ post.title }}
                  </a>
                </h5>

                <p class="card-text">
                {{ post.brief }}

                <br>
                  <small>{{ post.date | date: "%d/%m/%Y" }}</small>
                </p>



                <a href="{{ post.url | prepend: site.baseurl }}"
                   class="btn btn-dark btn-purple active"
                   role="button">
                  Veja mais
                </a>

              </div>
            </div>

          </div>
        </div>

        <hr class="my-1">
    {% endfor %}
  </div>

  <div class="list-group list-group-flush">
    <a href="{{ site.baseurl }}/blog.html"
       class="list-group-item list-group-item-action flex-column align-items-start"
       style="border: none;">

      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-2">Ver mais <i class="fas fa-plus-square"></i></h5>
      </div>
    </a>
  </div>
