<div class="bg-white">
  {% for post in paginator.posts %}
      <div class="card" style="border: none;">
        <div class="card-body">

          <div class="row">

            {% if post.thumbnail %}

            <div class="col-4">
              <img class="card-img-top" src="{{ site.baseurl }}/assets/images/posts/thumbnails/{{ post.thumbnail }}" alt="{{ post.title }}">
            </div>

            <div class="col-8">

            {% else %}

            <div class="col">

            {% endif %}

              <h5 class="card-title">
                <a href="{{ post.url | prepend: site.baseurl }}">
                  {{ post.title }}
                </a>
              </h5>

              <p class="card-text">
                {{ post.brief }} <br> <small>{{ post.date | date: "%d/%m/%Y" }}</small>
              </p>

              <a href="{{ post.url | prepend: site.baseurl }}"
                  class="btn btn-dark btn-purple active"
                  role="button">
                Veja mais
              </a>
            </div>
          </div>

        </div>
      </div>

      {% if forloop.last != true %}
        <hr class="my-1">
      {% endif %}
  {% endfor %}
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if paginator.previous_page %}
      <li class="page-item"><a class="page-link" href="{{ paginator.previous_page_path | relative_url }}">Anterior <span aria-hidden="true">&laquo;</span></a></li>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <li class="page-item disabled"><a class="page-link" href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a></li>
      {% elsif page == 1 %}
        <li class="page-item"><a class="page-link" href="{{ paginator.previous_page_path | relative_url }}">{{ page }}</a></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a></li>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <li class="page-item"><a class="page-link" href="{{ paginator.next_page_path | relative_url }}">Próxima <span aria-hidden="true">&raquo;</span></a></li>
    {% endif %}
  </ul>
</nav>
