
<div class="row">
  <div class="col-12 col-md-4 mb-4">
    <div class="card">
      <div class="card-body" style="height: 130px;">
        <h5 class="card-title">
          Todo Domingo
        </h5>

        <p class="card-text">
          Escola Dominical às 9h30min e culto às 19h.
        </p>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-4 mb-4">
    <div class="card">
      <div class="card-body" style="height: 130px;">
        <h5 class="card-title">
          Todas as Terças
        </h5>

        <p class="card-text">
          Reunião de Oração das 20h às 21h.
        </p>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-4 mb-4">
    <div class="card">
      <div class="card-body" style="height: 130px;">
        <h5 class="card-title">
          Todas as Quintas
        </h5>

        <p class="card-text">
          Estudo Bíblico das 20h às 21h.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-6">

    <div class="card">
      <div class="card-body" style="height: 130px;">
        <h5 class="card-title">
          Entre em contato
        </h5>

        <p class="card-text">
          (011) 3473 7847 ou pelo email revluizbarreto@gmail.com
        </p>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="card">
      <div class="card-body" style="height: 130px;">
        <h5 class="card-title">
          Endereço
        </h5>

        <p class="card-text">
        Rua Caramboleira, 175 – Jardim Pedro José Nunes, 08061-310

        <a href="waze://?q=Rua%20Caramboleira,%20175,%20S%C3%A3o%20Paulo%20-%20State%20of%20S%C3%A3o%20Paulo,%2008061-310;navigate=yes" target="_blank">
          <img src="{{ site.baseurl }}/assets/images/waze.png" alt="Clique e venha seguindo o Waze" width="100px">
        </a>

        </p>
      </div>
    </div>

  </div>
</div>

