
<div class="row">
  <div class="col-12 col-md-6 mb-4">
    <div class="card" style="height: 130px;">
      <div class="card-title">
        Todo Domingo
      </div>

      <span class="px-2">
        Escola Dominical às 9h30min e culto às 19h.
      </span>
    </div>
  </div>

  <div class="col-12 col-md-6 mb-4">
    <div class="card" style="height: 130px;">
      <div class="card-title">
        Na semana pelo Zoom
      </div>

      <span class="px-2">
        <div>Terça-feita: reunião de oração à 20h.</div>

        <div>Quinta-feira: estudo Bíblico às 20h.</div>
      </span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-6">
    <div class="card" style="height: 130px;">
      <div class="card-title">
        Entre em contato
      </div>

      <span class="px-2">
        (011) 3473 7847 ou pelo email revluizbarreto@gmail.com
      </span>
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="card" style="height: 130px;">
      <div class="card-title">
        Endereço

        <a href="waze://?q=Rua%20Caramboleira,%20175,%20S%C3%A3o%20Paulo%20-%20State%20of%20S%C3%A3o%20Paulo,%2008061-310;navigate=yes" target="_blank" style="float: right;">
          <img src="{{ site.baseurl }}/assets/images/waze.png" alt="Clique e venha seguindo o Waze" width="70px">
        </a>
      </div>

      <span class="px-2">
        Rua Caramboleira, 175 – Jardim Pedro José Nunes, 08061-310
      </span>
    </div>
  </div>
</div>

