<footer class="footer">
  <div class="container">

    <div class="row">
      <div class="col">

        <div class="social text-center">
          <a href="{{ site.social.instagram }}" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>

          <a href="{{ site.social.facebook }}" target="_blank">
            <i class="fab fa-facebook"></i>
          </a>

          <a href="/venha-nos-conhecer.html">
            <i class="fas fa-map-marked-alt"></i>
          </a>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col">
        <p class="text-center">
        &copy; Todos os direitos reservados.
        </p>
      </div>
    </div>

  </div>
</footer>
