<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand col-8 col-md-4" href="/">
      <img src="{{ site.baseurl }}/assets/images/ipbpedronunes.png" alt="{{ site.title }}" style="width: 100%" />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">

      <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Início</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/venha-nos-conhecer">Venha nos conhecer</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/historia">História</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Departamentos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/saf">SAF</a>
          <a class="dropdown-item" href="/infantil">Infantil</a>
          <a class="dropdown-item" href="/hinneni">Grupo Hinneni</a>
          <a class="dropdown-item" href="/escola-dominical">Escola Dominical</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

