<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand col-8 col-md-4" href="/">
      <img src="{{ site.baseurl }}/assets/images/ipbpedronunes.png" alt="{{ site.title }}" style="width: 100%" />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbar"
      aria-controls="navbar"
      aria-expanded="false"
      aria-label="Toggle navigation">

      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse justify-content-between" id="navbar">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a class="nav-link" href="/">Início</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/blog.html">Blog</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/nos-acreditamos.html">Nós acreditamos</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/historia.html">História</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/aniversariantes.html">Aniversariantes</a>
        </li>

        <!--<li class="nav-item dropdown">-->
          <!--<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
            <!--Departamentos-->
          <!--</a>-->
          <!--<div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
            <!--<a class="dropdown-item" href="/saf.html">SAF</a>-->
            <!--<a class="dropdown-item" href="/upa.html">UPA</a>-->
            <!--<a class="dropdown-item" href="/infantil.html">Infantil (UCP)</a>-->
            <!--<a class="dropdown-item" href="/hineni.html">Grupo Hineni</a>-->
            <!--<a class="dropdown-item" href="/escola-dominical.html">Escola Dominical</a>-->
          <!--</div>-->
        <!--</li>-->

      </ul>
    </div>
  </div>
</nav>

