<div class="row">
  <div class="col-12">
    <h1><i class="fas fa-pray"></i> Quer ajudar o missionário?</h1>

    <div class="row">
      <div class="col-12 col-md-6">
        <div class="card">
          <p class="mb-3">
          Para fazer uma doação para ajudar o trabalho do missionário você pode transferir qualquer valor <strong>terminando em {{ include.centavos }} centavos</strong>.
          <br>
          Por exemplo: R$30.{{ include.centavos }}
          </p>

          <p class="mb-4">
          O valor nos centavos nos ajuda a saber qual o destino da oferta.
          </p>

          <p class="mb-2">
          Contamos com a sua oração <i class="fas fa-pray"></i>
          <br>
          Que Deus abençoe você e toda a sua família.
          </p>
        </div>
      </div>


      <div class="col-12 col-md-6">
        <div class="card">

          <div class="card-title">
            <i class="fas fa-lock"></i> Conta Corrente
          </div>

          <ul class="list-group">
            <li class="list-group-item">
              CNPJ: 58.802.257/0001-47
            </li>

            <li class="list-group-item">
              Banco: 341 Itaú Unibanco S.A.
            </li>

            <li class="list-group-item">
              Agência: 0534
            </li>

            <li class="list-group-item">
              Conta: 10894-9
            </li>
          </ul>

        </div>
      </div>

    </div>

  </div>
</div>
