{% if paginator.total_pages > 1 %}
<nav aria-label="Links de paginação">
  <ul class="pagination justify-content-center">
    <li class="page-item {% unless paginator.previous_page %}disabled{% endunless %}">
      <a class="page-link" href="{{ paginator.previous_page_path }}">
        Anterior
      </a>
    </li>

    {% for page in (1..paginator.total_pages) %}
    <li class="page-item {% if page == paginator.page %}disabled{% endif %}">
      {% if page == 1 %}
      <a class="page-link" href="/">
        {{ page }}
      </a>
      {% else %}
      <a class="page-link" href="{{ site.paginate_path | relative_url | replace: ':num', page }}">
        {{ page }}
      </a>
      {% endif %}
    </li>
    {% endfor %}

    <li class="page-item {% unless paginator.next_page %}disabled{% endunless %}">
      <a class="page-link" href="{{ paginator.next_page_path }}">
        Próxima
      </a>
    </li>
  </ul>
</nav>
{% endif %}
