{% for post in site.posts %}
  {% if include.category %}
    {% if post.categories contains include.category %}
      <article class="include-posts">
        <h3>
          <a href="{{ post.url | prepend: site.baseurl }}">
            {{ post.title }}
          </a>
        </h3>

        <hr>

        <p class="mb-2">
          {{ post.content | strip_html | truncatewords: 50 }}
        </p>

        <a href="{{ post.url | prepend: site.baseurl }}"
          class="btn btn-dark btn-purple active"
          role="button">
          Veja mais
        </a>
      </article>
    {% endif %}
  {% else %}
    <article class="include-posts">
      <h3>
        <a href="{{ post.url | prepend: site.baseurl }}">
          {{ post.title }}
        </a>
      </h3>

      <hr>

      <p class="mb-2">
        {{ post.content | strip_html | truncatewords: 50 }}
      </p>

      <a href="{{ post.url | prepend: site.baseurl }}"
        class="btn btn-dark btn-purple active"
        role="button">
        Veja mais
      </a>
    </article>
  {% endif %}
{% endfor %}
