<div class="sidebar">

  <div class="card mb-4">
    <div class="card-title title">
      Participe!
    </div>

    <nav class="nav nav-pills flex-column">
      <a class="nav-link {% if page.url == '/criancas.html' %}active{% endif %}" href="/criancas.html">
        Crianças
      </a>

      <a class="nav-link {% if page.url == '/adolescentes.html' %}active{% endif %}" href="/adolescentes.html">
        Adolescentes
      </a>

      <a class="nav-link {% if page.url == '/mulheres.html' %}active{% endif %}" href="/mulheres.html">
        Mulheres
      </a>

      <a class="nav-link {% if page.url == '/escola-dominical.html' %}active{% endif %}" href="/escola-dominical.html">
        Escola Dominical
      </a>

      <a class="nav-link {% if page.url == '/hineni.html' %}active{% endif %}" href="/hineni.html">
        Grupo Hineni de Musica
      </a>
    </nav>
  </div>



</div>
