<div class="sidebar">

  <div class="card mb-4">
    <div class="card-title title">
      Participe!
    </div>

    <nav class="nav nav-pills flex-column">
      <a class="nav-link {% if page.url == '/criancas.html' %}active{% endif %}" href="/criancas.html">
        Crianças
      </a>

      <a class="nav-link {% if page.url == '/adolescentes.html' %}active{% endif %}" href="/adolescentes.html">
        Adolescentes
      </a>

      <a class="nav-link {% if page.url == '/mulheres.html' %}active{% endif %}" href="/mulheres.html">
        Mulheres
      </a>

      <a class="nav-link {% if page.url == '/escola-dominical.html' %}active{% endif %}" href="/escola-dominical.html">
        Escola Dominical
      </a>

      <a class="nav-link {% if page.url == '/emanuel.html' %}active{% endif %}" href="/emanuel.html">
        Coral Emanuel
      </a>

      <a class="nav-link {% if page.url == '/teatro.html' %}active{% endif %}" href="/teatro.html">
        Teatro
      </a>
    </nav>
  </div>

  <div class="card mb-4">
    <div class="card-title title">
      Missões!
    </div>
    <div class="card-subtitle">
      Ide por todo o mundo.
    </div>

    <nav class="nav nav-pills flex-column">
      <a class="nav-link {% if page.url == '/africa.html' %}active{% endif %}" href="/africa.html">
        África
      </a>

      <a class="nav-link {% if page.url == '/portugal.html' %}active{% endif %}" href="/portugal.html">
        Portugal
      </a>
    </nav>
  </div>


  <div class="card card-social-networks mb-4">
    <div class="card-title title">
      Redes Sociais
    </div>

    <div class="social text-center">
      <a href="{{ site.social.instagram }}" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>

      <a href="{{ site.social.facebook }}" target="_blank">
        <i class="fab fa-facebook"></i>
      </a>

      <a href="{{ site.social.youtube }}" target="_blank">
        <i class="fab fa-youtube"></i>
      </a>

      <a href="/venha-nos-conhecer.html">
        <i class="fas fa-map-marked-alt"></i>
      </a>
    </div>
  </div>
</div>
