<div class="include-welcome">
  <div class="card text-white bg-color4">
    <div class="card-header">
      Bem-vindo(a) ao site da Igreja Presbiteriana do Brasil de Pedro Nunes!
    </div>

    <div class="card-body">
      <blockquote class="blockquote">
        <p class="mb-0">
          Buscai, pois, em primeiro lugar, o seu reino e a sua justiça, e todas estas coisas vos serão acrescentadas.
        </p>

        <footer class="blockquote-footer">Mateus 6:33</footer>
      </blockquote>

      <p class="lead mb-0">
        Nós convidamos você a se juntar a nós para aprender sobre a palavra de Deus.
        <a class="btn btn-light pull-right mt-3" href="/venha-nos-conhecer.html">Venha nos conhecer</a>
      </p>
    </div>
  </div>
</div>
