<div class="include-welcome">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">
        Bem-vindo(a) ao site da Igreja Presbiteriana do Brasil de Pedro Nunes
      </h5>

      <blockquote class="blockquote">
        <p class="mb-0">
          Buscai, pois, em primeiro lugar, o seu reino e a sua justiça, e todas estas coisas vos serão acrescentadas.
        </p>

        <footer class="blockquote-footer">Mateus 6:33</footer>
      </blockquote>

      <p class="lead mb-0">
        Nós convidamos você a se juntar a nós para aprender sobre a palavra de Deus.
      </p>
    </div>
  </div>
</div>
