<div class="include-welcome">
  <i class="fas fa-church"></i> Bem-vindo(a) ao site da Igreja Presbiteriana do Brasil de Pedro Nunes!
</div>

<div class="card text-center mt-3">
  <span>
    Devido ao COVID-19 a igreja está fechada, mas estamos realizando cultos online através das nossas redes sociais.

    <a href="{{ site.social.facebook }}" target="_blank">
      <i class="fab fa-facebook"></i>
    </a>

    <a href="{{ site.social.youtube }}" target="_blank">
      <i class="fab fa-youtube"></i>
    </a>
  </span>
</div>
