.sidebar {
  .nav-pills .nav-link:hover,
  .nav-pills .nav-link.active {
    color: #ffffff;
    background: $green-ipb;
  }

  .card-social-networks {
    font-size: 30px;

    a:not(:last-child) {
      margin-right: 10px;
    }
  }
}
