@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins&display=swap');
@import url('/assets/ZapfHumanistBT.ttf');
@import 'reset';

// variables
$green-ipb: #0F3D29; // IPB
$light-gray: #F5F6F8;
$gray: #999999;

// includes
@import 'welcome';
@import 'navbar';
@import 'footer';
@import 'posts';
@import 'sidebar';

body {
  font-family: 'Open Sans', sans-serif;
  background: $light-gray;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
}

a, a.page-link {
  color: $green-ipb;
  text-decoration: none;
}

a:hover, a:active, a.page-link:hover, a.page-link:active {
  color: $green-ipb;
  text-decoration: none;
}

p {
  margin-bottom: 30px;
}

h1, h2, h3, h4, h5, h6 {
  color: $green-ipb;
}

.btn-ipb {
  background-color: $green-ipb !important;
}

.bg-ipb {
  background-color: $green-ipb !important;
}

.text-white {
  .blockquote-footer {
    color: #ffffff !important;
  }
}

.card {
  background: #ffffff;
  padding: 15px;
  border: none;
  border-radius: 15px;

  .card-title {
    font-size: 22px;
    border-bottom: $light-gray 1px solid;
    padding-left: 5px;
  }

  .card-subtitle {
    font-size: 16px;
    color: $gray;
    margin-bottom: 10px;
    padding-left: 5px;
  }
}
