a {
  color: $color2;
  text-decoration: none;
}

a:hover, a:active {
  color: $color4;
  text-decoration: none;
}

p {
  margin-bottom: 30px;
}

body {
  //border-top: 3px solid $color1;
  border-bottom: 3px solid $color1;
}

h1, h2, h3, h4, h5, h6 {
  color: $color1;
}

.btn-purple {
  background-color: $color2 !important;
}

.bg-color1 {
  background-color: $color1 !important;
}

.bg-color2 {
  background-color: $color2 !important;
}

.bg-color3 {
  background-color: $color3 !important;
}

.bg-color4 {
  background-color: $color4 !important;
}

.bg-color5 {
  background-color: $color5 !important;
}

.text-white {
  .blockquote-footer {
    color: $white !important;
  }
}
